.App {
  text-align: center;
}

.font-link-League {
  font-family: 'League Spartan', sans-serif;
}

.font-link-Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: relative;
    background-color: black;

}

.home-link {
  color: #F37021;
}

.navbar-brand {
  transform: translateX(-50%);
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 3rem;
  font-size: 2rem; 
  left: 50%;
  position: absolute;
}

 .nav-link{
    color: white !important;
    font-size: 15px !important;
  }


.header-text h1 {
  padding-top: 0%;
  padding-left: 15%;
  font-weight: 900;
  font-size: 4.6rem;
  line-height: 90px;
  letter-spacing: 15px;
  margin-bottom: 30px;
  color: black;
}

.header-text h3 {
  padding-left: 15%;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color:black;
}

.header-text p {
  padding-top: 20%;
  padding-left: 15%;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 0px;
  position: relative;
}



body, html {
  height: 100%;
}
.bg {
  background-image: url(./assets/mintbg.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button4 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px 2px;
  letter-spacing: 1px;
  border-radius: 20px;
}

.mintbutton-container {
  padding-top: 2%;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;

}
.mintbutton-container h2{
 padding-left: 1%;
 padding-right: 1%;
 color: white;


}



.mint-input {
  border-radius: 15px;
  border: none;
  font-size: 17px;
  margin: 6px 5px;
  height:60px;
  width: 300px;
  text-align: center; 


}

.mint-input-container {
  padding-top: 5px;
  padding-bottom: 15px;
}


.qtymint {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 4px;
  color: white;
  font-family: 'League Spartan', sans-serif;
}

.mint-img {
  padding-top: 2%;
}

.lucky-img {
  width: 120px;
}

.price p {
  color:white;
}

@media (max-width: 480px) {
  .lucky-img {
  width: 80px;
  }


  .navbar-brand {
  transform: translateX(-50%);
  font-family: 'League Spartan', sans-serif;
  letter-spacing: 1rem;
  font-size: 1rem; 
  left: 50%;
  position: absolute;
}

}

.minting {
  color: white;
  font-family: 'Montserrat', sans-serif;

}













  .loginButton {
    color: #F37021 !important;
  }






.bgOrange {
  background-color: #F37021;
  min-height: 100vh;
}

.responsive-lucky {
  padding-top: 10%;
  width: 100%;
  max-width: 500px;
  height: auto;

}

.responsive-lucky1{
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  max-width: 440px;
  height: auto;

}

.white-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: white;
    color: #F37021;
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 20%;
  
  }

.mid-text h1 {
  font-family: 'League Spartan', sans-serif;
  padding-top: 10%;
  padding-left: 15%;
  font-weight: 1000;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 1px;
  color: black;
}

.mid-text strong {
  font-family: 'League Spartan', sans-serif;
  font-weight: 1000;
  font-size: 60px;
  letter-spacing: 1px;
}

.mid-text h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 900;
  padding-left: 15%;
  font-size: 30px;
  color: black;
}

.mid-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding-left: 15%;
  font-size: 15px;
  color: black;
}

.container-lowermid {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 10%

}
.container-gallery {
  padding-top: 5%;
  padding-bottom: 10%

}

.container-lowermid p {
  line-height: 40px;  
}

.bgOrange2 {
  background-color: #F37021;
}

.bgOrange2 h1 {
  padding-top: 20%;
  padding-left: 10%;
  font-weight: 900;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: white;

}

.bgOrange2 p {
  padding-left: 10%;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-bottom: 0px;
  position: relative;
}

.lower-text{
  padding-bottom: 10%
}

.bgBlack {
  padding-top: 3%;
  background-color: black;
  color: white;
}

.footerBG {
  background-color: black;

}
.footerBG li {
  color: #F37021;
  list-style-type: none;

}

.single-box {
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;

}




.text-orange {
  color : #F37021;
}



.features-item {
  border-radius: 5px;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.features-item h2 {
  z-index: 9;
  top: 15px;
  left: 45px;
  font-size: 80px;
  font-weight: 600;
  color: #F37021;
}


.features-item h4 {
  margin-top: 0px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 25px;
}


.account-text {
  padding-top: 5%;
  font-family: 'League Spartan', sans-serif;
}

.account-text a {
  color: #F37021;
}

.refCode {

  font-family: 'League Spartan', sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: #F37021;

}

.container-cards {
  padding-top: 3%;
  padding-bottom: 5%;
}













